{{#if newUser}}
<h2>Thanks for signing up, please login!</h2>
{{else}}
<h3>Unable to register</h3>
{{/if}}
<p>Login</p>

<form action="api/v1/login" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">

    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit">Login</button>
</form>

<p>Sign Up</p>

<form action="/api/v1/signup" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">

    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="password1">Password</label>
        <input type="password" name="password1" id="password1">
    </div>
    <div>
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" id="password2">
    </div>
    <button type="submit">Sign Up</button>

</form>